{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Mis Cursos</h2>

  {% if cursos %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for curso in cursos %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ curso.imagen_url or 'https://via.placeholder.com/300x150?text=Curso' }}" class="card-img-top" alt="Imagen Curso">
        <div class="card-body">
          <h5 class="card-title">{{ curso[1] }}</h5>
          <p class="card-text">{{ curso[2] }}</p>
          <p><strong>Duración:</strong> {{ curso[3] }} horas</p>

          <form method="POST" action="{{ url_for('abandonar_curso', curso_id=curso.id) }}">
             <button type="submit" 
                  class="btn btn-danger btn-sm"
                  {% if curso.disponibilidad == 0 %}disabled{% endif %}>
            Abandonar
          </button>
          </form>
          <li class="list-group-item">
            {{ curso.nombre }}
            {% if not curso.diponibilidad ==0 %}
              <small class="text-muted">(No disponible temporalmente)</small>
            {% endif %}
          </li>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% else %}
  <p class="text-muted">Aún no te has inscrito en ningún curso.</p>
  {% endif %}
</div>
{% endblock %}
