{% extends "layout.html"%}
{% block title %}
{% endblock %}

{% block header %}
    <h1 class="mx-5">Registro</h1>
{% endblock %}

{% block content %}
<div>
    {% if rerror %}
    <div class="alert alert-warning" role="alert">{{rerror_msg}}</div>
    {% endif %}
    </div>
    <form class="form" method="post" class="mxw-800">
    <div class="form-group">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required autofocus {% if show_data_aftersend %}
    value={{nombre}} {% endif %}>
    </div>
    <div class="form-group mt-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellido" required {% if show_data_aftersend %}
    value={{apellido}} {% endif %}>
    </div>
    <div class="form-group mt-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email" class="form-control" required {% if show_data_aftersend %} value={{email}} {% endif %}>
    </div>
    <div class="form-group mt-3 w-50">
    <label for="passw" class="form-label">Contraseña</label>
    <input type="password" name="passw" id="passw" class="form-control" required {% if show_data_aftersend %} value={{passw}} {% endif %}>
    </div>
    <input type="submit" class="btn btn-dark mt-4" value="Registrar">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}